  <!-- Project Name: ExpressPortfolio
   File Name: footer.ejs
   Name: Tejinder Kaur
   Student id: 300976308
   Date: February 16, 2019  -->


  
<script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstarp/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
</body>
</html>