<% include ../partials/header.ejs %>

     <div class="container">
       <div class="jumbotron">
           <h1 class="display-4" align="center">Tejinder Kaur</h1>
           <p class="lead" align="center"><br>
           <img src="../public/Assets/images/myPic.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:200px;height:200px" ></i>
           </p>
           <hr class="my-4">
           <p>My name is  Tejinder Kaur
               I am pursuing graduation from Centennial College with a diploma in Software Engineering Technology Program. It is my last semester.
               I am also certified in Bachelor of Computer Applications from back home.
               During my academic studies at Centennial College I have developed key technical skills in the area of programming, website development and database management. My soft interpersonal skills include my communication skills, problem solving skills, leadership and teamwork quality.
               These skills have developed my ability to perform well at the workplace environment. These skills make me comfortable to work under pressure by following the instructions given by high authorities.
               My key interpersonal skills are my communication skills and teamwork that provides me ability to work in harmony with co-workers.
               My related work-experience include designing of various websites and database with different applications. My years of experience in the area of programming and web-designing will help me excel at this position and become a valued member of your team.
               I  did volunteer at  three places. First, I did volunteer at youth festival in my college. Then I did volunteer at college as a guide for freshers. I also taught Punjabi at Mata Sahib Kaur School in Gursikh Sabha Canada Shrine as a volunteer teacher. I will bring all my skills, qualities, values, interests, academic knowledge, and life experience to your company .
               I am confident that I am the best candidate for this job because my technical skills as well as my interpersonal skills are better match for this job.
          </p><hr>
           <p class="lead">To know more about me Go To 
           <a href="/public/Assets/documents/TejResume.pdf"><b>My Resume</b></a>
             
           </p>
         </div>
     </div>
<% include ../partials/footer.ejs %>


 