<% include ../partials/header.ejs %>

     <div class="container">
       <div class="jumbotron">
           <h1 class="display-4">Hello, This is Tejinder Kaur</h1>
           <p class="lead">Welcome to My information page <br>
           <img src="../public/Assets/images/myPic.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:200px;height:200px" ></i>
           This portfolio will give you information about me.</p>
           <hr class="my-4">
           <p>I am pursuing post-graduation diploma in Centennial College with Software Engineering Technology program.. It is my last semester.
                I am graduated in Bachelor of Computer Applications from back home.During my academic studies at Centennial College I have developed key technical skills in the area of programming, website development and database management. 
                 I want to become a software developer.  </p>
           <p class="lead">
           <a href="/public/Assets/documents/TejResume.pdf">My Resume</a>
             
           </p>
         </div>
     </div>
<% include ../partials/footer.ejs %>


 