<% include ../partials/header.ejs %>

     <div class="container">
       <div class="jumbotron">
           <h1 class="display-4">Tejinder Kaur</h1>
           <p class="lead">Welcome to My Portfolio <br>
           This is my contact page</p>
           <hr class="my-4">
           <p>  </p>
           <p class="lead">
             
           </p>
         </div>
     </div>
<% include ../partials/footer.ejs %>


 