<!-- Project Name: ExpressPortfolio
   File Name: contact.ejs
   Name: Tejinder Kaur
   Student id: 300976308
   Date: February 16, 2019  -->
<% include ../partials/header.ejs %>
     <div class="container">
       <div class="jumbotron">  
       <!-- Reference from https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_panels_heading&stacked=h -->
            <div class="panel panel-primary" style="border: 3px solid black" >
              <div class="panel-heading" style="background: gray"><b>&nbsp My Contact Information</b></div>
              <div class="panel-body"><p>
              <b>&nbsp Name:&nbsp&nbsp&nbsp&nbsp&nbsp</b>Tejinder Kaur <br>   
              <b>&nbsp Email Id:&nbsp&nbsp</b></h5>tkaur64@my.centennialcollege.ca <br>
              <b>&nbsp PhNo.:&nbsp&nbsp&nbsp&nbsp&nbsp</b>(647)-825-0946</p>
              </div>
            </div><br>
            <div class="panel panel-primary" style="border: 2px solid black">
    <div class="panel-heading" style="background: gray"><b>Add your Information</b></div><br>
    <div class="panel-body">
    <form action="/action_page.php">
    <p>
      <label for="firstName"><b>&nbsp First Name:</b></label>
      <input type="text" class="form-control" id="firstName" placeholder="Enter Your First Name Here" name="firstName">     
      <label for="lastName"><b>&nbsp Last Name:</b></label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter Your Last Name Here" name="lastName">     
      <label for="contactNo"><b>&nbsp Contact No:</b></label>
      <input type="number" class="form-control" id="contactNo" placeholder="Enter Your Contact number" name="contactNo">     
      <label for="email"><b>&nbsp Email:</b></label>
      <input type="email" class="form-control" id="email" placeholder="Enter Your Email address" name="email">
      <label for="message"><b>&nbsp Message:</b></label>
      <textarea type="multitext" class="form-control" id="message" placeholder="Type your message here..." name="message"></textarea>
      <br>&nbsp&nbsp
      
    <a type="submit" class="btn btn-primary" href="/">Submit</a>
    
  </form></div>
  </div>       
  </div>
</div>
<% include ../partials/footer.ejs %>


 