<% include ../partials/header.ejs %>
     <div class="container">
       <div class="jumbotron">  
            <div class="panel panel-primary" style="border: 5px solid black" >
              <div class="panel-heading" style="background: gray"><b>My Contact Information</b></div>
              <div class="panel-body"><p>
              <b>Name:&nbsp&nbsp&nbsp&nbsp&nbsp</b>Tejinder Kaur <br>   
              <b>Email Id:&nbsp&nbsp</b></h5>kaurtejinder31095@gmail.com <br>
              <b>PhNo.:&nbsp&nbsp&nbsp&nbsp&nbsp</b>647-825-0946</p>
              </div>
            </div>
          
           <p class="lead">Welcome to My Portfolio <br>
           This is my contact page</p>
           <hr class="my-4">
           <p>  </p>
           <p class="lead">
             
           </p>
         </div>
     </div>
<% include ../partials/footer.ejs %>


 