<% include ../partials/header.ejs %>

     <div class="container">
    
           <h1 class="display-4" align="center" ><b>Welcome </b></h1>
           <p class="lead" ><h3 align="center">This is Tejinder Kaur</h3><br>
           This portfolio will give you information about me.</p>
           <hr class="my-4">
           <p>  </p>
           <p class="lead">
             
           </p>
         
     </div>
<% include ../partials/footer.ejs %>


 