<% include ../partials/header.ejs %>

     <div class="container">
    <br><br><br>
           <h1 class="display-4" style="font-size:7vw" align="center"><b>Welcome </b></h1>
           <p class="lead" ><h5 align="center">To <br><h2 align="center">Tejinder Kaur's Portfolio</h2></h5><br></p>
           <p align="center" ><b>This portfolio website will give you information about me.</b></p><br>
            <p align="center" >I am pursuing post-graduation diploma in Centennial College with Software Engineering Technology program.. It is my last semester.
                I am graduated in Bachelor of Computer Applications. During my academic studies at Centennial College I have developed key technical skills in the area of programming, website development and database management. 
                 I want to become a <b>software developer. </b> </p>
           <hr class="my-4">
           <p>  </p>
           <p class="lead">
             
           </p>
         
     </div>
<% include ../partials/footer.ejs %>


 