<% include ../partials/header.ejs %>

     <div class="container">
       <div class="jumbotron">
           <h1 class="display-4">Tejinder Kaur</h1>
           <p class="lead">Welcome to My Projects page <br>
           
           This page presents my projects that I did while studying at Centennial College</p>
           <hr class="my-4">
           <p> </p>
           <p class="lead">
           <h4><b>1. Shift Schedular</b></h4>
            I have done a group project using C# named as shift schedular that can be used by the employers to schedule the shifts of employee.
            <img src="../public/Assets/images/scheduleProject1.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" ></i><br><br>
            <img src="../public/Assets/images/scheduleProject2.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" ></i>
             <br><br>
             <h4><b>2. Easy Wings Airline website</b></h4>
             I am recently working on a group project named as Easy wings website that can be used for booking flights tickets.
             <img src="../public/Assets/images/easyWings.JPG" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" ></i>
            <br><br>
            <h4><b>3. Easy Wings Airline website</b></h4>
           </p>
         </div>
     </div>
<% include ../partials/footer.ejs %>


 