<!-- Project Name: ExpressPortfolio
   File Name: services.ejs
   Name: Tejinder Kaur
   Student id: 300976308
   Date: February 16, 2019  -->
<% include ../partials/header.ejs %>

     <div class="container">
       <div class="jumbotron">
           <h1 class="display-4">Tejinder Kaur</h1>
           <p class="lead">
           This page gives you information about my services offered.</p>
           <hr class="my-4">
           <p>  </p>
           <p class="lead">
           <h3>Services Offered...</h3>
             <ol>               
             <li>Programming</li><ul type="disc"><li>C#, C, C++, Java, HTML/CSS, JavaScript, ASP.Net, PL/SQL.</li></ul>
             <li>Networking</li><ul type="disc"><li>Basic knowledge of installation and PC configuration.</li></ul>
             <li>Operating Systems</li><ul type="disc"><li>Windows XP Professional, Linux, Unix, MS DOS</li></ul>
             <li>Applications</li><ul type="disc"><li>Microsoft Office, Eclipse, Visual Studio, Visual Studio Code.</li></ul>
             </ol>
           </p>
         </div>
     </div>
<% include ../partials/footer.ejs %>


 