/* Project Name: ExpressPortfolio
   File Name: app.css
   Name: Tejinder Kaur
   Student id: 300976308
   Date: February 16, 2019 */

/* custom css*/

body {
    background-image: url("/public/Assets/images/back.jpg");
  }

h1 {
    color: rgb(48, 7, 71);
    text-transform: uppercase;
    
}
 